PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE user (
	id INTEGER NOT NULL, 
	username VARCHAR(150) NOT NULL, 
	email VARCHAR(150) NOT NULL, 
	password VARCHAR(150) NOT NULL, 
	created_at DATETIME, is_banned BOOLEAN DEFAULT 0, 
	PRIMARY KEY (id), 
	UNIQUE (username), 
	UNIQUE (email)
);
INSERT INTO user VALUES(1,'onkarvyawahare04','onkarvyawahare04@gmail.com','pbkdf2:sha256:1000000$GL2lcS3ft1BlqUcP$e27cc09e7ff6cbe25f2076e911b1b186d40a9403f332008ee1b97a1820faf339','2026-03-08 09:44:07.557661',0);
INSERT INTO user VALUES(2,'admin','admin@gida.com','pbkdf2:sha256:1000000$sUSO5QxHJQZZzgjb$ce5ea558d57b550ee31decad38839f51f9debb372327822a54084d148278ce24','2026-03-08 09:50:25.848451',0);
INSERT INTO user VALUES(3,'s22_vyawahare_onkar','s22_vyawahare_onkar@mgmcen.ac.in','pbkdf2:sha256:1000000$BxRlVHR21QErEQnF$e4ea7f778e53e5c68979e6666f6d0423a456c83df3979eb63770cfe800d78ade','2026-03-08 11:25:49.269601',0);
CREATE TABLE visitor (
	id INTEGER NOT NULL, 
	visit_date DATE, 
	visitor_count INTEGER, 
	PRIMARY KEY (id)
);
INSERT INTO visitor VALUES(1,'2026-03-08',69);
INSERT INTO visitor VALUES(2,'2026-03-09',36);
INSERT INTO visitor VALUES(3,'2026-03-10',2);
CREATE TABLE feedback (
	id INTEGER NOT NULL, 
	name VARCHAR(100) NOT NULL, 
	email VARCHAR(100) NOT NULL, 
	message TEXT NOT NULL, 
	submitted_at DATETIME, rating INTEGER DEFAULT 5, 
	PRIMARY KEY (id)
);
INSERT INTO feedback VALUES(1,'onkar','onkarvyawahare04@gmail.com','You data Good ','2026-03-08 11:28:27.384537',5);
INSERT INTO feedback VALUES(2,'john','123@gmail.com','dashboard gives detailed insights','2026-03-09 15:35:27.185423',5);
INSERT INTO feedback VALUES(3,'onkarvyawahare','onkarvyawahare04@gmail.com','hi ','2026-03-12 12:12:19.977191',5);
COMMIT;
